body {
	margin: 0;
	font-size: 20px;
	background: #f5f5f8;
	font-family:  Century Gothic Std Regular, Arial;
}

a {
	text-decoration: none;
	color: inherit;
}

li {

	text-decoration: none;
	list-style: none;
}

input {
	margin: 12px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

/* Header */

.topnav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	font-size: 12px;
	background: #215;
	color: #768;
}

.user {
	margin: 4px;
	background: #215;
	border: inherit;
	color: #768;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 4px 0;
	background: #215;
}

.logo {
	display: flex;
	align-items: center;
	color: #fff;
}

.logo:focuse {
	opacity: 0.6;
}

.logo img {
	width: 56px;
	filter: invert(1);
}

.logo
a {
	display: flex;
	align-items: center;
}

.logo-text {
	margin-left: 12px;
	font-size: 28px;
}

.find 
.button-find {
	width: 50px;
	height: 36px;
	background: #00BC65;
	border: inherit;
	cursor: pointer;
}

.find button:hover,
.find button:focus {
	cursor: pointer;
	background: #00BBDE;
}
 
.find 
input {
	width: 300px;
	height: 32px;
	padding-left: 20px;
	padding-right: 20px;
	border: inherit;

}

.icon {
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

.icon 
span {
	margin: 10px;
	font-size: 16px;
}

.icon-heart:hover,
#icon-basket:hover,
.user:hover,
.icon-heart button:focus,
#icon-basket button:focus,
.user:focus {
	opacity: 0.6;
}


.icon-heart i,
#icon-basket i {
font-size: 20px;
}

.icon-heart button,
#icon-basket button {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
}

.icon-heart {
	margin-right: 24px;
}

.icon-content {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
	.logo-text {
		display: none;
	}
}

@media screen and (max-width: 895px) {
	.find 
	input {
		width: 150px;
	}
}

@media screen and (max-width: 600px) {
	.icon
	span {
		display: none
	}

	.icon-heart {
		margin-right: 0;
	}

	.logo 
	img {
		width: 40px;
	}
}

/* Nav-menu */

.menu {
	width: 320px;
	margin: 0 0 0 -20px;
}

.catalog {
	display: block;
	height: 24px;
	padding: 12px 0 8px 16px;
	background: #00BC65;
	line-height: 1;
}

.menu ul {
	position: absolute;
	margin: 0 0 0 -44px;
	background: #fff;
}

.menu li  {
	width: 220px;
	padding: 4px;
	line-height: 1.5;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	font-size: 20px;
	color: #227;
}

.catalog:hover {
	cursor: pointer;
	background: #00BBDE;
}

.menu li ul {
	display: none;
}

.menu li:hover .drop-menu { 
    display: block;
}

.drop-menu
li:hover {
	opacity: 0.6;
}

/* Login to your account */

#user {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.input-user {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
	margin: 16px;
}

.close {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 12px;
	background: #215;
	color: #fff;
}

.button-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.button-close:hover {
	background: #903;
}

#login {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

#password {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 24px;
}

.access:hover {
	cursor: pointer;
	background: #00BBDE;
}

.registration:hover {
	cursor: pointer;
	background: #00BBDE;
}

.access {
	width: 72px;
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.registration {
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.user-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
	background: #215;
}

.text {
	margin-top: 8px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.slider {
	display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 32px;
}

.slider-arrow {
	display: flex;
    align-items: center;
}

.holiday-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px; 
}

.holiday-img img {
	overflow: hidden;
	width: 800px;
	height: 244px;
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
}

.arrow {
	margin: 8px;
	font-size: 52px;
	color: #215;
	cursor: pointer;
}

.dot {
	cursor: pointer;
	height: 15px;	
	width: 15px;	
	margin: 0 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, dot:hover {
	background-color: #215;
}

@media screen and (max-width: 900px) {
	.holiday-img img {
		width: 100%;
		height: 184px;
	}
}


@media screen and (max-width: 560px) {
	.arrow {
		display: none;
	}

	.holiday-img img {
		height: 125px;
	}
}


/* Basket*/
#basket {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.basket-name {
	margin: 4px;
	font-size: 20px;
}

.basket-content {
	background: #fff;
}

#basket-product {
	display: flex;
	height: 325px;
	margin: 20px 40px 0 40px;
	overflow-y: scroll;
	border: 1px solid whitesmoke;
	flex-flow: column;
	
}

.first-row {
	display: grid;
	margin-bottom: 16px;
	align-items: center;
	grid-template-columns: 100px 200px;
	grid-auto-flow: column;
}

.second-row {
	display: flex;
    justify-self: flex-end;
    align-items: center;
    grid-area: 4/1;
}

.basket-header {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	font-size: 16px;
	background: #215;
	color: #fff;
}

#basket-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.basket-close:hover {
	background: #903;
}

.basket-title {
	font-size: 16px;
}

.basket-product-content {
	display: grid;
    justify-items: center;
    align-items: center;
    padding: 12px;
    border: 1px solid whitesmoke;
}

.empty-basket {
	margin: auto;
}

.basket-delete {
    height: 12px;
    background: red;
    border: inherit;
    border-radius: 50%;
    cursor: pointer;
}

.basket-img {
	height: 52px;
}

#basket-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 24px;

}

.button-info-prise {
	display: flex;
	flex-flow: wrap;
}

#button-price-of-product {
	padding: 12px;
    margin: 8px;
	background: #00BC65;
	color: #fff;
	border: inherit;
	border-radius: 4%;
	cursor: pointer;	
}

.delete-of-product {
	display: flex;
	justify-self: flex-end;	
}

.delete-of-product 
button {
	font-size: 16px;
	color: #FF0000;
	border: none;
	background: #fff;
	cursor: pointer;	
}

.add-item-quantity {
	display: flex;
	align-items: center;
	grid-area: 3/1;

}

.checkbox-price {
	margin: 0 8px 0 32px;
	transform: scale(1.3);
	cursor: pointer;
}

#add-item-quantity-number {
	width: 20px;
	margin: 4px;
	border-radius: 4px;
	border: 1px solid;
	text-align: center;
}

.add-item-quantity-minus,
.add-item-quantity-pluse {
	font-size: 12px;
	border: none;
	background: #fff;
	cursor: pointer;
}

.add-item-quantity-minus,
.add-item-quantity-pluse: active {
 outline: none;
}

/* Favorite*/

#favorite {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.favorite-name {
	margin: 4px;
	font-size: 20px;
}

.favorite-content {
	width: 500px;
	background: #fff;
}

.favorite-product {
	display: flex;
	flex-flow: column;
	background: #fff;
}

.favorite-title {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
	background: #215;
	color: #fff;
}

.favorite-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.favorite-close:hover {
	background: #903;
}

/* Product content */

#menu-top-product {
	display: flex;
	justify-content: center;
	align-content: center;
}

#menu-top-product 
button {
	width: 200px;
	height: 24px;
	margin: 4px;
	background: #00BC65;
	border: 1px solid;
	color: #fff;
	cursor: pointer;
}

#menu-top-product 
button:hover {
	background: #00BBDE;
}

#menu-top-product 
button:focus {
	background: #00BBDE;
}

.title {
	margin-top: 32px; 
	padding-bottom: 12px;
	text-align: center;
	font-size: 32px;
	font-weight: bolder; 
}

#recommendations-product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

#product-content img {
	width: auto;
	height: 100px;
	margin: 12px auto;
	cursor: pointer;
}

#recommendations-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	width: 880px;
	overflow: hidden;
}

#product-content {
	display: inline-grid;
	width: 168px;
	height: 325px;
	margin: 4px;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	cursor: pointer;
}

.button-basket {
	width: 92px;
	height: 36px;
	background: #00BC65;
	border: inherit;
	cursor: pointer;	
}

.button-basket:hover,
.button-basket:focus {
	background: #00BBDE;
}


#product-title {
	margin: 12px;
	font-size: 12px;
}

#price {
	text-align: end;
	padding-right: 8px;
	font-size: 16px;
}

.menu-product {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icon-favorite {
	color: gold;
	cursor: pointer;
}

.all-recommendations {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

/* New */

#new-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	width: 880px;
	overflow: hidden;
}

#new-product {
	display: none;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

.new-block {
	background: green;
	height: 12px;
	font-size: 12px;
	color: #fff;
	padding: 4px;
}

#new-product
#product-content img {
	width: auto;
	height: 100px;
	margin: 12px auto;
}


.all-new {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

/* Sale */

#sale-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	width: 880px;
	overflow: hidden;
}

#sale-product {
	display: none;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

#sale-product
#product-content img {
	width: auto;
	height: 100px;
	margin: 12px auto;
	cursor: pointer;
}

.all-sale {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

@media screen and (max-width: 1600px ){
	.all-recommendations {
	display: block;
	}

	.all-new {
	display: block;
	}

	.all-sale {
	display: block;
	}
}

@media screen and (max-width: 930px) {
	#recommendations-product-content {
		width: auto;
	}
	#new-product-content {
		width: auto;
	}
	#sale-product-content {
		width: auto;
	}

	
}

/* Footer */
footer {
	background: #fff;
	box-shadow: 0 0 32px rgba(0,0,0,0.1);
}

.footer-content {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	flex-flow: column-reverse;
}

.footer-menu {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 24px 0 0 -40px;
	font-size: 16px;
	color: #fff;
}

.footer-1 {
	display: inline-grid;
	margin: 12px;
}

.footer-2 {
	margin-bottom: 4px;
	color: #a0a0a0;
}

.footer-3 {
	margin: 8px;
	color: #3e77aa;
}

.footer-3:hover {
	opacity: 0.7;
}

.web-icon {
	margin: 0 0 24px -40px;
}
.web-icon ul {
	margin-bottom: 24px;
	font-size: 12px;
	color: #fff;
}

.web-icon p {
	margin-bottom: 8px;
	font-size: 16px;
	color: #a0a0a0;
}

.web-icon li {
	display: inline-block;
	word-spacing: 16px;
	margin: 4px;
	color: #3e77aa;
	cursor: pointer;
}

.web-icon li:hover {
	opacity: 0.7;
}

/* Product list */

#product {
	display: none;
}

#product-list-notebook {
	margin: 16px 0;
}

.title-filter {
	margin: 20px auto;
	font-size: 24px;
}

#filter-product {
	display: flex;
	flex-direction: column;
	margin: 20px;
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.filter {
	display: flex;
	flex-direction: column;
	margin: 0px 16px 16px 16px;
	border-top: 2px solid whitesmoke;
}

#filter-product
ul {
	margin: 0px 12px;
	padding: 0;
}

#tmin,
#tmax {
width: 44px;
height: 16px;
}

