body {
	margin: 0;
	font-size: 20px;
	background: #f5f5f8;
	font-family:  Arial;
}

a {
	display: contents;
	text-decoration: none;
	color: inherit;
}

li {
	text-decoration: none;
	list-style: none;
}

input {
	margin: 12px;
}

.topnav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-right: 10px;
	font-size: 12px;
	background: #215;
	color: #768;
}

.user {
	background: #215;
	border: inherit;
	color: #768;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 52px;
	margin-top: -1px; 
	background: #215;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
	color: #fff;
}

.logo img {
	width: 36px;
	filter: invert();
}

.find 
.button-find {
	width: 50px;
	height: 36px;
	background: #00BC65;
	border: inherit;

}

.button-find:hover {
	cursor: pointer;
	background: #00BBDE;
}
 
.find 
input {
	width: 300px;
	height: 32px;
	padding-left: 20px;
	padding-right: 20px;
	border: inherit;

}

.icon {
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

.icon 
span {
	margin: 10px;
	font-size: 16px;
}

.icon-heart:hover,
.icon-basket:hover {
	opacity: 0.6;
}

.icon-heart {
	margin-right: 24px;
}

.icon-content {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 895px) {
	.find 
	input {
		width: 150px;
	}
}

@media screen and (max-width: 735px) {
	.logo {
		display: none
	}
}

@media screen and (max-width: 600px) {
		.icon
	span {
		display: none
	}
}

/* nav-menu */

.menu {
	width: 320px;
	margin: 0 0 0 -20px;
}

.catalog {
	display: block;
	height: 24px;
	padding: 12px 0 8px 16px;
	background: #00BC65;
	line-height: 1;
}

.menu ul {
	position: absolute;
	margin: 0 0 0 -44px;
	background: #fff;
}

.menu li  {
	width: 220px;
	padding: 4px;
	line-height: 1.5;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	font-size: 20px;
	color: #227;
}

.catalog:hover {
	cursor: pointer;
	background: #00BBDE;
}

.menu li ul {
	display: none;
}

.menu li:hover .drop-menu { 
    display: block;
}

.menu li:onclick .drop-menu { 
    display: block;
}

.drop-menu
li:hover {
	opacity: 0.6;
}

/* user */

#user {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.input-user {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
	margin: 16px;
}

.close {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 12px;
	background: #215;
	color: #fff;
}

.button-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.button-close:hover {
	background: #903;
}

#login {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

#password {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 24px;
}

.access:hover {
	cursor: pointer;
	background: #00BBDE;
}

.registration:hover {
	cursor: pointer;
	background: #00BBDE;
}

.access {
	width: 72px;
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.registration {
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.user-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
	background: #215;
}

.text {
	margin-top: 8px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.holiday-img {
	display: flex;
	justify-content: center;
	margin-top: 12px; 
}

.holiday-img img {
	overflow: hidden;
	width: 800px;
}

@media screen and (max-width: 900px) {
	.holiday-img img {
		width: 600px;
	}
}


/* basket*/
#basket {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.basket-name {
	margin: 4px;
	font-size: 20px;
}

.basket-content {
	width: 500px;
	background: #fff;
}

.basket-product {
	display: flex;
	flex-flow: column;
	background: #fff;
}

.basket-title {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
	background: #215;
	color: #fff;
}

.basket-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.basket-close:hover {
	background: #903;
}

/* favorite*/

#favorite {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(#216, transparent);
}

.favorite-name {
	margin: 4px;
	font-size: 20px;
}

.favorite-content {
	width: 500px;
	background: #fff;
}

.favorite-product {
	display: flex;
	flex-flow: column;
	background: #fff;
}

.favorite-title {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
	background: #215;
	color: #fff;
}

.favorite-close {
	height: 12px;
	margin: 8px;
	background: red;
	border: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.favorite-close:hover {
	background: #903;
}

/*product */

#menu-top-product {
	display: flex;
	justify-content: center;
	align-content: center;
}

#menu-top-product 
button {
	width: 200px;
	height: 24px;
	margin: 4px;
	background: #00BC65;
	border: 1px solid;
	color: #fff;
	cursor: pointer;
}

#menu-top-product 
button:hover {
	background: #00BBDE;
}

.title {
	margin-top: 32px; 
	padding-bottom: 12px;
	text-align: center;
	font-size: 32px;
	font-weight: bolder; 
}

#recommendations-product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

.product-content img {
	width: auto;
	height: 112px;
	margin: 12px auto;
	cursor: pointer;
}

#recommendations-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	overflow: hidden;
}

.product-content {
	display: inline-grid;
	width: 168px;
	height: 325px;
	margin: 4px;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
	cursor: pointer;
}

.button-basket {
	width: 92px;
	height: 36px;
	background: #00BC65;
	border: inherit;
	cursor: pointer;	
}

#product-title {
	margin: 12px;
	font-size: 16px;
}

#price {
	text-align: end;
	margin-right: 8px;
	font-size: 20px;
}

.menu-product {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icon-favorite {
	color: gold;
	cursor: pointer;
}

.all-recommendations {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

/* new */

#new-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	overflow: hidden;
}

#new-product {
	display: none;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

#new-product
.product-content img {
	width: auto;
	height: 112px;
	margin: 12px auto;
}


.all-new {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

/* sale */

#sale-product-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 336px;
	overflow: hidden;
}

#sale-product {
	display: none;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 32px;
	margin-bottom: 32px;
}

#sale-product
.product-content img {
	width: auto;
	height: 112px;
	margin: 12px auto;
	cursor: pointer;
}

.all-sale {
	display: none;
	color: #3e77aa;
	cursor: pointer;
	background: #fff;
	border: 1px dashed;
}

@media screen and (max-width: 1380px ){
	.all-recommendations {
	display: block;
	}

	.all-new {
	display: block;
	}

	.all-sale {
	display: block;
	}
}

/* footer */
footer {
	background: #fff;
	box-shadow: 0 0 32px rgba(0,0,0,0.1);
}

.footer-content {
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	flex-flow: column-reverse;
}

.footer-menu {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 24px 0 0 -40px;
	font-size: 16px;
	color: #fff;
}

.footer-1 {
	display: inline-grid;
	margin: 12px;
}

.footer-2 {
	margin-bottom: 4px;
	color: #a0a0a0;
}

.footer-3 {
	margin: 8px;
	color: #3e77aa;
}

.footer-3:hover {
	opacity: 0.7;
}

.web-icon {
	margin: 0 0 24px -40px;
}
.web-icon ul {
	margin-bottom: 24px;
	font-size: 12px;
	color: #fff;
}

.web-icon p {
	margin-bottom: 8px;
	font-size: 16px;
	color: #a0a0a0;
}

.web-icon li {
	display: inline-block;
	word-spacing: 16px;
	margin: 4px;
	color: #3e77aa;
	cursor: pointer;
}

.web-icon li:hover {
	opacity: 0.7;
}