form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
	margin: 16px;
}

input {
	margin: 12px;
}

.close {
	width: 100%;
}

.button-close {
	float: right;
	width: 16px;
	text-decoration: none;
	text-transform: uppercase;
	border: inherit;
	font-size: 16px;
	background: #215;
	color: #fff;
}

.button-close:hover {
	color: red;
}

.login {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

.password {
	width: 192px;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 24px;
}

.entrance:hover {
	cursor: pointer;
	background: #00BBDE;
}

.registration:hover {
	cursor: pointer;
	background: #00BBDE;
}

.entrance {
	width: 72px;
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.registration {
	height: 32px;
	margin: 16px;
	border: inherit;
	background: #00BC65;
}

.user {
	width: 300px;
	margin: 200px auto;
	background: #215;
}

.user-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-flow: column;
}

.text {
	margin-top: 24px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}
